*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(204, 93.8%, 93.7%);
}

.grid-container {
    display: grid;
    min-height: 150vh;
    grid-template-columns: 10vw 1fr 2fr 10vw;
    grid-template-rows: 10vh 40vh 1fr;
    gap: 3vh 0;
    grid-template-areas: 
        "nav nav nav nav"
        ". prof-pic prof-info ."
        ". posts posts .";
}

.area-border {
    border: 2px solid black;
}

/* Nav bar styling */
.nav {
    grid-area: nav;
    background-color:hsl(198.39999999999998, 93.2%, 59.6%);
    position: sticky;
    top: 0;
}

.nav-links {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links > a {
    text-decoration: none;
    color: hsl(210, 40%, 98%);
}
.nav-links > a:hover {
    border-radius: 3px;
    background-color: hsl(201.29999999999995, 96.3%, 32.2%);
}

/* Profile Picture styling */
.prof-pic {
    grid-area: prof-pic;
    /* Justify aligns with column */
    justify-self: center;
    /* Align aligns with row */
    align-self: center;
}

.img-container {
    max-width: 75%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#prof-img {
    max-width: 100%;
    height: auto;
}

/* Profile Info styling */
.prof-info {
    grid-area: prof-info;
}

.info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #64748B;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.posts {
    grid-area: posts;
}

.post-card {
    background-color: #E2E8F0;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid #0284C7;
    margin-bottom: 1vh;
}

.post-card > p {
    margin: 1rem 0;
}

.post-card > .post-links {
    display: flex;
    justify-content: space-around;
}

.post-card .post-link {
    color: #0284C7;
    text-decoration: none;
}

.post-card .post-link:hover {
    color: blue;
    text-decoration: none;
}